---
import Layout from '../layouts/Layout.astro';
import header from '../sections/header.astro';
import banner from '../sections/banner.astro';
import slogan from '../sections/slogan.astro';
import info from '../sections/info.astro';
import footer from '../sections/footer.astro';
---

<Layout title="Cerveza Poker c">
	<header />
	<main>
		<banner />
		<slogan />
		<info />
	</main>
	<footer />
</Layout>

<style>

</style>
