---
import '@fontsource-variable/montserrat';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="TODO" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
<section>
    <img src="https://www.cervezapoker.com/sites/g/files/seuoyk231/files/2024-02/desktoplimpicsre.jpeg" alt="">
</section>
	</body>
</html>
<style is:global>
	html {
		font-family:'Montserrat Variable' system-ui, sans-serif;
		background: #13151a;
	}
</style>
