---
console.log("hola");
---
<nav class="navegator">
    <img src="https://www.cervezapoker.com/sites/g/files/seuoyk231/files/poker-brand-header_0.png.webp" alt="">
    <div class="container">
        <a href="">PREDICCIONES DE LA AMISTAD</a><a href="">POKERLIMPICKS</a>
    </div>
</nav>
<style>
    .navegator{
        display: flex;
        height: 80px;
        background:#272525 ;
        align-items: center;
    }
    .container{
        display: flex;
    }
    .container a{
		height: 100%;
		display: flex;
		padding: 30px;
		text-decoration: none;
		color: white;		
		transition: background 300ms ease-in-out;
        font-size: 16px;
        font-family: 'Montserrat';
        font-weight: bold;
    }
    .container a:hover{
        background-color: #3a3838;
            
        }
</style>
