---
---

<div class="container_s">
    <div class="cont_slog">
        <span>EL SABOR DE LA AMISTAD -EL SABOR DE LA AMISTAD -EL SABOR DE LA AMISTAD -EL SABOR DE LA AMISTAD -EL SABOR DE LA AMISTAD-</span>
    </div>
</div>
<style>
    .container_s{
        width:100%;
        height: 100px;
    }
    span{
    border-color: white;
    font-size: 72px;
    color: #000;
    background-color: #000;
    font-family: "barlowCondensedBold" !important;
    background: rgba(0, 0, 0, 0);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
</style>